﻿@page "{articleId:Guid}"
@model Accelist.Example.Docker.Web.Pages.Article.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Article.Title</h2>

<p>
    @Model.Article.Content
</p>

<a asp-page="/Index" class="btn btn-light">
    Back
</a>