﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accelist.Example.Docker.Web</title>

    <link type="text/css" rel="stylesheet" href="~/css/ipack.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Accelist</p>
        </footer>
    </div>

    <script src="~/js/ipack.dll.js"></script>
</body>
</html>
