﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h1>
            Welcome to our Docker Training!
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ol>
            @{
                foreach (var article in Model.Articles)
                {
                    <li>
                        <a asp-page="./Article/Index"
                           asp-route-articleId="@article.ArticleId">
                            @article.Title
                        </a>
                    </li>
                }
            }
        </ol>
    </div>
</div>